<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Empleados</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">

    </head>
    <body class="container py-4">
        <h2>Listado de Empleados</h2>
        <a th:href="@{/empleados/nuevo}" class="btn btn-primary mb-3">+ Nuevo Empleado</a>

        <table class="table table-striped">
            <thead>
                <tr><th>ID</th><th>Código</th><th>Nombre</th><th>Teléfono</th><th>Especialidad</th><th>Acciones</th></tr>
            </thead>
            <tbody>
                <tr th:each="e : ${empleados}">
                    <td th:text="${e.idEmpleado}"></td>
                    <td th:text="${e.codigo}"></td>
                    <td th:text="${e.nombre}"></td>
                    <td th:text="${e.telefono}"></td>
                    <td th:text="${e.especialidad}"></td>
                    <td>
                        <a th:href="@{'/empleados/editar/' + ${e.idEmpleado}}" class="btn btn-sm btn-warning">Editar</a>
                        <a th:href="@{'/empleados/eliminar/' + ${e.idEmpleado}}" class="btn btn-sm btn-danger"
                           onclick="return confirm('¿Eliminar empleado?')">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-3">

            <a sec:authorize="hasRole('ADMIN')" href="/index" class="btn btn-secondary">Volver</a>

            <a sec:authorize="hasRole('EMPLEADO')" href="/index" class="btn btn-secondary">Volver</a>

            <a sec:authorize="hasRole('SOCIO')" href="/index" class="btn btn-secondary">Volver</a>

        </div>

    </body>
</html>
